.input {
  text-align: right;
  width: 4em;
  background: none;
  border: none;
  color: white;
  font-family: menlo, monospace;
  font-size: 0.9em;
}

.input[disabled] {
  opacity: 0.5;
}

.container {
  position: relative;
}

.draggable {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: ew-resize;
}
