.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #bbb;
  position: relative;
  padding: 4px 12px;
  gap: 8px;
  height: 24px;
  box-sizing: border-box;
}

.dotIn {
  position: absolute;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: gray;
}

.dotIn[data-type="number"], .dotOut[data-type="number"] {
  background-color: yellow;
}

.dotIn[data-type="string"], .dotOut[data-type="string"] {
  background-color: orange;
}

.unlinkButton {
  position: absolute;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: red;
  z-index: 1;
  cursor: pointer;
}

.dotOut  {
  position: absolute;
  right: -4px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: gray;
}

.label {
  flex: 1;
}

